<div id="sidebar">
    <p>multiupload</p>
</div>
<div id="main">
    <form enctype="multipart/form-data" method="POST" action="/" id="formUpload">
        {{!-- <input type="file" multiple required name="files"> --}}
        <input type="submit" value="upload">
    </form>
</div>